* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
	
}

body {
	font-family: sans-serif;
	background-color: azure;
	
}

form {
	/* margin-top: 12rem; */
	padding-block: 4rem;
	display: grid;
	place-content: center;
	
	
}

img {
	width: 200px;
}

img:hover{
	transform: scale(1.3) rotate(6deg);
}

.main-container {
	/* margin-top: 17rem; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(13, 120, 120);
	margin: 10px;
	border-radius:.5em;
	
}

 p{
	display: list-item;
	
}

.spinner {
	position: relative;
	margin-left: 50rem;
	height: 100px;
	width: 100px;
	background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50% );
	border-radius: 50%;
	border: 8px solid black;
	animation: spin 1s linear infinite;
  }
  
  .spinner::before {
	content: '';
	position: absolute;
	height: 8px;
	width: 90px;
	background: black;
	top: 50px;
	transform: translatey(-50%);
  }
  
  .spinner::after {
	content: '';
	position: absolute;
	height: 38px;
	width: 38px;
	border-radius: 50%;
	background: white;
	top: 50px;
	left: 50px;
	transform: translate(-50%, -50%);
	box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;
  
  }
  
  /* Spin Animation */
  @keyframes spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }

  /* responsive */
 
